@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);:root {
  /* --------------------
      COLORS
  -------------------- */
  --primary-color: #0282f9;
  --main-color: #1c1c1c;
  --footer-color: #303030;
  /* --------------------
      CONTAINERS SIZE
  -------------------- */
  --container-md: 75rem;
  /* --------------------
      CONTAINERS SIZE
  -------------------- */
  --container-md-padding: 20px 0;
}

/* ----------
    RESET
---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 100%;
  max-width: var(--container-md);
}

body {
  font-family: "Roboto", sans-serif;
}

.header_container {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  margin: auto;
  max-width: var(--container-md);
}
.header_container .header_logo {
  display: flex;
  margin-left: 16px;
  height: 70px;
}
.header_container .header_nav {
  display: flex;
}
.header_container .header_nav ul {
  display: flex;
  list-style-type: none;
}
.header_container .header_nav ul .active a {
  color: var(--primary-color);
}
.header_container .header_nav ul li {
  display: flex;
  margin: 0.5rem;
}
.header_container .header_nav ul li a {
  display: flex;
  align-self: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.main-jumbo {
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  height: 400px;
}

.main_up-section_container {
  background-color: var(--main-color);
  flex-grow: 1;
}

.main_up-section, .main_down-section {
  margin: auto;
  max-width: var(--container-md);
  padding: var(--container-md-padding);
}

.main_up-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}
.main_up-section .main-title {
  position: absolute;
  top: -16px;
  left: 50px;
  display: inline-block;
  color: white;
  background-color: var(--primary-color);
  font-size: 1rem;
  padding: 8px 14px;
}
.main_up-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: baseline;
  width: 15%;
}
.main_up-section .card img, .main_up-section .card p {
  width: 90%;
}
.main_up-section .card p {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px 0;
}
.main_up-section .card-img {
  height: 200px;
  background-size: cover;
}
.main_up-section .main-button {
  position: absolute;
  bottom: 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  padding: 6px 48px;
}

.main_down-section_container {
  background-color: var(--primary-color);
}

.main_down-section {
  display: flex;
}
.main_down-section a {
  display: flex;
  align-items: center;
  margin: 0 20px;
  text-decoration: none;
  color: white;
}
.main_down-section img {
  height: 40px;
  margin-right: 12px;
}

.footer_up-section_container {
  width: 100%;
  background-image: url(../img/footer-bg.jpg);
  background-position: center;
  background-size: cover;
}

.footer_up-section {
  position: relative;
  overflow: hidden;
}

.dc-logo-bg {
  position: absolute;
  right: 0%;
  top: -50%;
  transform: translate(0, 10%);
  height: 500px;
}

.footer_up-section, .footer_down-section {
  margin: auto;
  max-width: var(--container-md);
  padding: var(--container-md-padding);
}

.footer_up-section nav {
  display: flex;
  gap: 32px;
}
.footer_up-section nav ul {
  color: white;
  list-style-type: none;
  font-weight: 600;
}
.footer_up-section nav ul :first-child {
  margin-top: 10px;
}
.footer_up-section nav ul li {
  margin-bottom: 4px;
}
.footer_up-section nav ul a {
  text-decoration: none;
  color: grey;
  font-size: 0.75rem;
}

.footer_down-section_container {
  background-color: var(--footer-color);
}

.footer_down-section {
  display: flex;
  justify-content: space-between;
}
.footer_down-section .footer_button {
  color: white;
  border: 1px solid var(--primary-color);
  padding: 12px;
  text-decoration: none;
}
.footer_down-section .footer_button:hover {
  background-color: var(--primary-color);
}
.footer_down-section .social-box {
  display: flex;
  align-items: center;
}
.footer_down-section .social-box a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 10px;
}